*{
    margin: 0;
    padding: -100px;
    box-sizing: border-box 0;
    font-family: "Poppins", sans-serif;
}   

html{
    scroll-behavior: smooth;
}


/*Home*/

section{
    width: 100%;
    height: 90vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: lightblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f00;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #f00;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #f00;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .men_text h1{
    font-size: 60px;
    position: relative;
    top: -90px;
    left: 20px;
    animation: zoomIn 1s ease-in-out;
}

section .main .men_text h1 span{
    margin-left: 15px;
    color: #f00;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}

section .main .main_image img{
    width: 550px;
    position: relative;
    left: 50px;
    animation: slideInNav 1s ease-in-out;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 72px;
    bottom: 100px;
    line-height: 22px;
    animation: fadeInHeader 1s ease-in-out;
}

section .main_btn{
    background:#f00;
    position: relative;
    left: 70px;
    bottom: 30px;
    width: 100px;
    cursor: pointer;
    padding: 12px 25px;
    animation: slideInNav 1s ease-in-out;
}

section .main_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .main_btn i{
    color: #fff;
    transition: 0.3s;
}

section .main_btn:hover i{
    transform: translateX(7px)
}

/*Menu*/

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -600px;
    margin-bottom: 10px;
    animation: slideInNav 1s ease-in-out;
}

.menu h1 span{
    color: #f00;
    margin-left: 15px;
    margin-bottom: -5px;
    font-family: 'mv boli';
    display: inline-block;
    position: relative;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 5px;
    background: #f00;
    display: block;
    position: relative;
    bottom: 10px;
}

.menu h3{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    animation: slideInNav 1s ease-in-out;
}

.menu h3 span{
    color: #f00;
    margin-left: 15px;
    margin-bottom: -5px;
    font-family: 'mv boli';
    display: inline-block;
    position: relative;
}

.menu h3 span::after{
    content: '';
    width: 100%;
    height: 5px;
    background: #f00;
    display: block;
    position: relative;
    bottom: 7px;
}

.menu h4{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    animation: slideInNav 1s ease-in-out;
}

.menu p{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    animation: slideInNav 1s ease-in-out;
} 

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card:hover {
    transform: translateY(-10px);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.3);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #f00;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #f00;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #f00;
    text-align: center;
    margin: 10px 0 20px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}

/* Animation Keyframes */
@keyframes fadeInHeader {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideInNav {
    from { opacity: 0; transform: translateX(100%); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInFromLeft {
    from { opacity: 0; transform: translateX(-100px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes zoomIn {
    from { opacity: 0; transform: scale(1.1); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Footer */
.footer {
    background-color: lightblue;
    color: black;
    text-align: left;
    padding: 50px;
    font-family: 'Arial', sans-serif;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    max-width: 1200px;
  }
  .footer-logo img {
    width: 120px;;
  }
  .footer-links {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .footer-section a {
    color:black;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }
  .social-icons img {
    width: 30px;
    height: 30px;
    margin: 5px;
    background: #ffffff;
  }
  
  .footer-buttons {
    text-align: center;
  }
  .order-now-btn {
    background-color: #4085a0;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
  }
  .order-now-btn:hover {
    background-color: #9ed1f3;
  }
  .footer-copyright {
    font-size: 0.9em;
    color: black;
    margin-top: 50px;
    text-align: center;
  }
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
    .footer-links {
      flex-direction: column;
      align-items: center;
  }
}